@tailwind base;
@tailwind components;
@tailwind utilities;

/* offers-slider in header */
.pipe-slider p {
    animation: slide-text 30s linear infinite;
    white-space: nowrap;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 25px !important;
  height: 25px !important;
  font-size: 15px !important;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  /* padding: 5px; */
  display:flex;
  justify-content: center;
  align-items:center;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  transition: all .3s ease-in-out;
}

/* package slug */
.vertical-strike-tailwind::before {
    content: '';
    position: absolute;
    /* left: 50%; */
    top: 50%;
    bottom: 0;
    width: 1px; /* Adjust the thickness of the line here */
    background-color: black; /* Adjust the color of the line here */
    transform: translateX(-50%);
    z-index: 0;
  }

@keyframes slide-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*hero section of  page */
.bg-glassy {
    background-color: rgba(11, 82, 91, 0.3);
    backdrop-filter: blur(5px) grayscale(0.5);
    -webkit-backdrop-filter: blur(5px) grayscale(0.5); /* For Safari */
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
}


.slick-slide > div {
    margin : 0 10px;
}